<ion-header translucent='true'>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content >
  
  <div class="spinner" *ngIf="loading"></div>
<!-- movie banner -->
  <div *ngIf="movie">
    <div class="movie-header">
      <img *ngIf="fanart" [src]="setBackground(fanart.images.fanart)">
    </div>

    <div  class="movie-content" padding>
      <div class="movie-summary">
        <div class="poster">
          <div class="content">
            <img src="{{movie.medium_cover_image}}">
          </div>
        </div>

        <div class="item-content">
          <span class="title">{{movie.title}}</span>
          <span class="genre ">{{movie.genres | join:" | "}}</span>
          <span class="country">{{movie.download_count}} downloads | {{movie.mpa_rating || ''}}</span>
          
          <span class="line">
            <span class="date">{{movie.date_uploaded | date:'mediumDate'}} | </span> 
            <span class="time"> {{movie.runtime || 0 |duration}}</span>
          </span>

          <!-- services rating -->
          <div class="ratings">
            <div class="imdb">
              <span>imdb <span class="nb">{{movie.rating}}</span></span>
            </div>
          </div>
        </div>

      </div>

      <div class="movie-more">
        <!-- <span><span class="key">Director: </span>{{movie.director}}</span> -->
        <span class="description"><span class="key">Storyline: </span> {{movie.description_intro}}</span>
        <span><span class="key">Cast: </span>{{movie.cast.name |join:", "}}</span>
      </div>
    </div>
  </div>

  <ion-fab *ngIf="movie" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="download"></ion-icon>
    </ion-fab-button>
    <ion-fab-list *ngIf="movie.torrents" side="start">
      <ion-fab-button *ngFor="let item of movie.torrents" (click)="download(item.url)">{{item.quality}}</ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>