<ion-header class="header">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
    
</ion-header>


<ion-content class="content" fullscreen="true">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


    <div class="spinner" *ngIf="loading"></div>
  <div *ngIf="details"> 
    <div #gbImage id="gbImage" class="movie-header">
         <img [src]="setBackground(details.images.fanart)">   
    </div>

    <div class="movie-content"  padding >
        <div class="movie-summary">
            <div class="poster">
                <div class="content">
                    <img src="{{details.images.banner}}">
                </div>
            </div>

            <div class="item-content">
                <span class="title">{{details.title}}</span>
                <span class="genre ">{{details.genres | join:" | "}}</span>
                <span class="country">{{details.download_count}}</span>
                <span class="country">{{details.air_day}} {{details.air_time}} | {{details.runtime}}min</span>
                <span class="line"> 
                  <span class="time"></span>
                  <span class="date">Last updated on {{details.last_updated | date:'mediumDate'}} </span>
                </span>

                <div class="ratings"  >
                    <div class="imdb"  >
                        <span>imdb <span class="nb">{{details.rating.percentage/10}}</span></span>
                    </div>
                </div>

            </div>

        </div>

        <div class="movie-more">
       
          <span class="description"><span class="key">Storyline: </span> {{details.synopsis}}</span>

          <span><span class="key">Cast: </span></span> 

        </div>
    </div>
    </div>

    <ion-fab *ngIf="details" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="showDownloadModal(details)">
        <ion-icon name="download"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
