<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="movies-list">
      <ion-icon name="videocam"></ion-icon>
      <ion-label>Movies</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="shows-list">
      <ion-icon name="tv"></ion-icon>
      <ion-label>TV Show</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="musics">
        <ion-icon name="musical-notes"></ion-icon>
      <ion-label>Music</ion-label>
    </ion-tab-button>
   
    <ion-tab-button tab="anime">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Favorites</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
