<ion-header autoHide='true'>
  <ion-toolbar>
    <ion-title>Favorites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="item-x">
    <ion-spinner name="lines-small"></ion-spinner>
    <ion-text color="secondary">
      <h1>Under Development</h1>
    </ion-text>
  </div>
</ion-content>

<!-- <ion-content padding class="page-content">

    <div>
      <div *ngIf="movies">
        <div>
          <div class="movies current">
            <div *ngFor="let movie of movies" class="movie-detail" tappable>
              <div class="poster">
                <div class="content">
                  <img (click)="onNavigate(movie.id,movie.imdb_code)" src="{{movie.large_cover_image}}">
                </div>
              </div>
              <div class="item-content">
                <span (click)="onNavigate(movie.id,movie.imdb_code)" class="title">{{movie.title}}</span>
                <span class="genre">{{movie.genres | join:" | "}}</span>
  
                <span class="line">
                  <span class="date">{{movie.year}} | </span>
                  <span class="time">{{movie.runtime | duration}}</span>
                </span>
                <span class="country">{{movie.language}}</span>
          
                <div class="ratings">
                  <div class="imdb">
                    <span>imdb <span class="nb">{{movie.rating}}</span></span>
                  </div>
                </div>
  
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <ion-infinite-scroll (ionInfinite)="loadingEvent($event)">
        <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more Movies...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
  
      <div *ngIf="loading || placeholder">
        <div class="spinner" *ngIf="loading"></div>
        <div class="movies current">
          <div *ngFor="let i of [1,2,3,4,5,6,7]" class="movie-detail loading">
            <div class="poster">
              <div class="content">
              </div>
            </div>
            <div class="item-content">
              <span class="title">&nbsp;</span>
              <span class="country">&nbsp;</span>
              <span class="genre ">&nbsp;</span>
              <span class="line">
                <span class="date">&nbsp;</span>
                <span class="time">&nbsp;</span>
              </span>
            </div>
          </div>
        </div>
      </div>
  
  
    </div>
    <ion-card class="error-card" *ngIf="error">
      <ion-card-content>
        <h1 class="lead">AN ERROR OCCUERED</h1>
        <div class="auto">
          <ion-button color="danger" class="retry-button" (click)="retry()">
            RETRY
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>

  
  </ion-content> -->