<ion-header>
  <ion-toolbar>
    <ion-title>Episodes</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeSlf()">
        <ion-icon slot="end" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item-sliding *ngFor="let item of data.episodes">
      <ion-card>
        <ion-item>
          <ion-card class="episode-card">
            <ion-card-content>
              <p>{{item.title}}</p>
              <ion-label>Season {{item.season}} Episode {{item.episode}} </ion-label>
              <!-- <ion-icon slot="end" name="arrow"></ion-icon> -->
            </ion-card-content>
          </ion-card>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option *ngIf="item.torrents['0']" color="primary" expandable (click)="download(item.torrents['0'].url)">240p</ion-item-option>
          <ion-item-option *ngIf="item.torrents['480p']" color="primary" expandable (click)="download(item.torrents['480p'].url)">480p</ion-item-option>
          <ion-item-option *ngIf="item.torrents['720p']" color="primary" expandable (click)="download(item.torrents['720p'].url)">720p</ion-item-option>
          <ion-item-option *ngIf="item.torrents['1080p']" color="primary" expandable (click)="download(item.torrents['1080p'].url)">1080p</ion-item-option>
        </ion-item-options>
      </ion-card>
    </ion-item-sliding>
  </ion-list>

</ion-content>
