<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="!enableSearch">TV Shows</ion-title>

    <ion-buttons slot="end">
      <ion-button class="search" *ngIf="!enableSearch" (click)="togleSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>

      <ion-button class="search" *ngIf="enableSearch" (click)="togleSearch()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-searchbar #input animated='true' debounce='2000' class="search" *ngIf="enableSearch" (ionClear)='ionClear()'
      (ionChange)='ionChange(input.value)' placeholder="Search TV Shows"></ion-searchbar>

  </ion-toolbar>
</ion-header>

<ion-content padding class="page-content">

  <div class="spinner" *ngIf="loading"></div>

  <div>
    <div *ngIf="Shows">
      <div>
        <div class="movies current">
          <div *ngFor="let show of Shows" class="movie-detail" tappable>
            <div class="poster">
              <div id="img-content" class="content">
                <img (click)="onNavigate(show.imdb_id)" src="{{show.images.poster}}">
              </div>
            </div>
            <div class="item-content">
              <span (click)="onNavigate(show.imdb_id)" class="title">{{show.title}}</span>
              <span class="country year">{{show.year}}</span>
             
              <!-- services rating -->
              <div class="ratings">
                <div class="imdb">
                  <span>imdb <span class="nb">{{show.rating.percentage/10}}</span></span>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!--If the page is loading show placeholders-->
    <div *ngIf="loading || placeholer">
      <div class="movies current">
        <div *ngFor="let i of [1, 2, 3, 4]" class="movie-detail loading">
          <div class="poster">
            <div class="content">
            </div>
          </div>
          <div class="item-content">
            <span class="title">&nbsp;</span>
            <span class="country">&nbsp;</span>
            <span class="genre ">&nbsp;</span>
            <span class="genre ">&nbsp;</span>
            <span class="line">
              <span class="date">&nbsp;</span>
              <span class="time">&nbsp;</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ion-card class="error-card" *ngIf="error">
    <ion-card-content>
      <h1 class="lead">AN ERROR OCCUERED</h1>

      <div class="auto">
        <ion-button color="danger" class="retry-button" (click)="retry()">
          RETRY
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>


  <ion-infinite-scroll (ionInfinite)="loadingEvent($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading More Shows...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>