<ion-header>
  <ion-toolbar>
    <ion-title>TV Shows</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  
    <div class="container">
      <div class="card-container" *ngFor="let item of Shows">
        <ion-card (click)="onNavigate(item.imdb_id)">
            <ion-img src="{{item.images.poster}}"></ion-img>
          <!-- <ion-card-content>
            <img src="{{item.large_cover_image}}" alt="{{item.title}}">
          </ion-card-content> -->
        </ion-card>
      </div>
      
    </div>

    <ion-card class="error-card" *ngIf="error">
        <ion-card-content>
          <h1 class="lead">AN ERROR OCCUERED</h1>
          
          <div class="auto">
              <ion-button color="danger" class="retry-button" (click)="retry()">
                RETRY
              </ion-button>
          </div> 
        </ion-card-content>
      </ion-card>

      <div class="spinner" *ngIf="loading"></div>
  
    <ion-infinite-scroll (ionInfinite)="loadingEvent($event)">
        <ion-infinite-scroll-content
          loadingSpinner="crescent"
          loadingText="Loading More Shows...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
  
</ion-content>
