// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.container {
    margin: 10px 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-basis: auto auto;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;

    ion-card {
        width: 150px;
        height: 220px;
        border-radius: 4px;
        // padding: 0;
        // margin: 10px;
        ion-card-content{
         margin: 0;
         padding: 0;  
         border-radius: inherit;
         
         img{
             border-radius: inherit;
         }
        }
        &:hover {
            cursor: pointer;
            transform: translateY(-1);
        }
    }

    ion-title.item-title {
        text-align: center;
        font-size: 16px;
        font-weight: normal;
        width: 150px;

        &:hover {
            cursor: pointer;
        }
    }
}

.spinner {
    width: 40px;
    height: 40px;
    margin: 20px auto;
    background-color: #333;
  
    border-radius: 100%;  
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
  }
  
  ion-infinite-scroll{
      margin-top: 30px;
  }

  .error-card{
      .lead , .sub{
          text-transform: uppercase;
          font-family: monospace;
          text-align: center;
      }
      .auto{
          width: 100%;
      }
      ion-button{
        display: block;
        text-align: center;
        width: 78px;
        margin: 10px auto

    }
  }

  ion-button-title{
    padding-left: 0;
  }

  .item-x{
    width: 100%;
    max-width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    ion-spinner{
        
    }
}

.search{
  transition: all 0.5s linear;
}

//   animations
  @-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
      -webkit-transform: scale(1.0);
      opacity: 0;
    }
  }
  
  @keyframes sk-scaleout {
    0% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 100% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
      opacity: 0;
    }
  }